@import "./variables.scss";
@import "./default-style.scss";
@import "./ui.scss";
@import "./card.scss";
body {
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    margin: 0;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
        "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $color_blue;
    color: $color_black1;
    overflow-x: hidden;
    width: 100%;
}

.flex-all-center {
    display: flex;
    justify-content: center;
    align-items: center;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
}

.container {
    width: 100%;
    height: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 40px;
    z-index: 4;
    background-color: $color_blue;
    -webkit-transition: transform 0.4s ease-in-out;
    -moz-transition: transform 0.4s ease-in-out;
    -o-transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
    &-hide {
        transform: translateY(-100%);
    }
    &-content {
        max-width: 1440px;
        width: 100%;
        display: flex;
        height: 69px;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }
    &-img{
     
        
        &:hover{
            svg{
                path{
                    -webkit-transition: all 0.3s ease-in-out;
                    -moz-transition: all 0.3s ease-in-out;
                    -o-transition: all 0.3s ease-in-out;
                    transition: all 0.3s ease-in-out;
                    fill: $color_blue1;
                }
            }
        }
       
    }
    &-nav {
        display: flex;
    }
    &-phone {
        display: flex;
        gap: 12px;
        margin-right: 59px;
    }
    &-burger {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 6px;
        &-line {
            width: 24px;
            border: 1px solid $color_black1;
        }
    }

    @media screen and (max-width: 700px) {
        height: 60px;
        &-phone {
            display: none;
        }
        &-content {
            justify-content: center;
        }
        &-img {
            flex-grow: 1;
            display: flex;
            justify-content: center;
        }
    }
}

.modal-head {
    z-index: 4;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    width: 589px;
    height: 100%;
    padding-left: 96px;
    display: flex;
    background-color: $color_blue1;
    align-items: center;
    -webkit-transition: transform 0.4s ease-in-out;
    -moz-transition: transform 0.4s ease-in-out;
    -o-transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
    &-open {
        transition-duration: 500ms;
        transform: translateX(0%);
    }
    &-mob {
        display: none !important;
    }

  
    &-body {
        display: flex;
        flex-direction: column;
        gap: 32px;
        font-size: 42px;
        font-weight: 400;
        line-height: 51px;
        letter-spacing: 0%;
        color: $color_white;

        li {
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
            &:hover {
                transform: translateX(20px);
            }
        }
    }
    &-close {
        position: absolute;
        top: 29px;
        right: 46px;
    }
    @media screen and (max-width: 700px) {
        height: 100%;
        width: 100%;
        padding-left: 30px;
        &-mob {
            display: block !important;
        }
        &-header {
            position: absolute;
            top: 31px;
            left: 50%;
            transform: translateX(-50%);
            p {
                padding-top: 35px;
                text-align: center;
                font-size: 16px;
                font-weight: 600;
                line-height: 20px;
                letter-spacing: 0%;
                color: $color_white;
                text-align: center;
            }
        }
        &-button {
            position: absolute;
            bottom: 41px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.modal-order {
    padding: 45px 40px;
    z-index: 4;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 440px;
    max-height: 90vh;
    height: 100%;
    border: 2px solid $color_grey1;
    border-radius: 40px;
    box-shadow: $boxshadow1;
    background: $color_white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &-button {
        .ui-button {
            gap: 15px;
            padding-right: 50px;
        }
        .ui-button-text {
            font-size: 17px;
        }
    }
    &-alert{
        font-weight:700;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        text-transform: uppercase;
        flex-direction: column;
        margin: auto;
        &-icon{
            margin: 60px 0;
        }
    }
    &-title {
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: left;
        text-transform: uppercase;
    }
    &-text {
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 0%;
        color: $color_grey2;
        padding-bottom: 20px;
    }
    &-close {
        top: 40px;
        right: 48px;
        svg {
            path {
                stroke: $color_grey2;
            }
        }
    }
    @media screen and (max-width: 700px) {
        max-height: 100vh;
        width: 100%;
        border-radius: 0px;
        .ui-button-text {
            font-size: 13px;
        }
    }
}

.main {
    padding: 110px 19px 108px 19px;
    display: flex;
    gap: 79px;
    align-items: flex-end;
    position: relative;
    &-img {
        max-width: 720px;
        max-height: 571px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    h5 {
        @include main-title;
    }
    p {
        margin-top: 20px;
        margin-bottom: 82px;
        @include main-parag;
    }
    @media screen and (max-width: 1000px) {
        padding: 90px 20px 90px 30px;
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 0;
        p {
            margin-bottom: 50px;
        }
        &-button {
            position: absolute;
            left: 20px;
            bottom: 0;
        }
    }
    @media screen and (max-width: 500px) {
        &-button {
            width: calc(100% - 40px);
        }
    }
}

.about {
    padding: 34px 23px 115px 40px;
    &-head {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        column-gap: 168px;
        &-img {
            max-width: 687px;
            max-height: 541px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        h5 {
            @include main-title;
        }
        p {
            max-width: 528px;
            width: 100%;
            margin-top: 20px;
            margin-bottom: 82px;
            @include main-parag;
        }
    }
    &-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 31px;
        margin-top: 75px;
        &-item {
            padding: 45px 30px 65px 40px;
            width: 100%;
            max-width: 433px;
            min-width: 350px;
            height: 344px;
            border-radius: 40px;
            box-shadow: $boxshadow1;
            background: $color_white;
            &-num {
                color: $color_blue1;
                font-size: 20px;
                font-weight: 700;
                line-height: 24px;
                letter-spacing: 0%;
                text-align: left;
                text-transform: uppercase;
                padding-bottom: 20px;
            }
            &-title {
                font-size: 20px;
                font-weight: 700;
                line-height: 24px;
                letter-spacing: 0%;
                text-align: left;
                text-transform: uppercase;
                padding-bottom: 30px;
            }
            &-text {
                @include main-parag;
                text-align: left;
            }
            &-last {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                background: $color_blue1;
                color: $color_blue;
                img {
                    width: 161px;
                    height: auto;
                }
            }
        }
    }
    @media screen and (max-width: 700px) {
        padding: 40px 20px 55px 20px;
        &-head {
            flex-direction: column;
            gap: 39px;
            p {
                margin-top: 10px;
                margin-bottom: 29px;
            }
        }
        &-list {
            margin-top: 55px;
            padding-left: 0;
            padding-right: 0;
            &-item {
                min-width: 300px;
                padding: 30px 20px;
                height: auto;
                &-last {
                    min-height: 190px;
                }
                &-num {
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 20px;
                    padding-bottom: 24px;
          
                }
                &-title {
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 20px;
                    padding-bottom: 24px;
                }
                &-text {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 17px;
                }
            }
        }
    }
}

.about-us {
    padding: 112px 40px 80px 40px;
    &-title {
        @include main-title;
        padding-bottom: 20px;
    }
    &-text {
        @include main-parag;
    }
    &-list {
        display: grid;
        gap: 30px;
        margin-top: 40px;
        grid-template-columns: 1fr 1fr;

        &-item {
            padding: 40px;
            height: auto;
            display: flex;
            flex-direction: column;
            gap: 30px;
            max-width: 100%;
            h6,
            p {
                padding: 0;
            }
            &-1 {
                background: $color_blue1;
                color: $color_blue;
            }
            &-2 {
                background: $color_white;
            }
            &-num {
                color: inherit;
            }
            &-last {
                font-size: 24px;
                font-weight: 400;
                line-height: 29px;
                letter-spacing: 0%;
                justify-content: center;
            }
        }
    }
    @media screen and (max-width: 1000px) {
        padding: 40px 20px 80px 20px;
        &-list {
            grid-template-columns: 1fr;
            &-item {
                gap: 24px;
                padding: 30px 20px;
                background:$color_blue1 !important;
                color: $color_white;
                p{
                    color: $color_white !important;
                }
                &-last {
                    padding: 40px 20px;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 17px;
                    letter-spacing: 0%;
                }
            }
        }
    }
}

.about-bloger {
    padding: 70px 40px 137px 40px;
    &-head {
        width: fit-content;
        margin-left: auto;
        padding-bottom: 80px;
    }

    &-title {
        @include main-title;
        padding-bottom: 20px;
    }
    &-text {
        @include main-parag;
    }
    &-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        height: 254px;
    }

    &-mob {
        display: none;
    }
    @media screen and (max-width: 800px) {
        padding: 40px 20px 0px 20px;
        &-head {
            padding-bottom: 0;
        }
        &-pc {
            display: none;
        }
        &-mob {
            display: block;
        }
        &-list {
            gap: 0;
            grid-template-columns: 1fr;
            height: 700px;
            padding: 30px 0;
            img{
                max-height: 210px;
            }
        }
    }
}

.service {
    padding: 140px 40px;
    background-color: $color_blue1;
    &-title {
        @include main-title;
        padding-bottom: 80px;
        color: $color_white;
        text-align: end;
    }
    &-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        &-item {
            height: 254px;
            padding: 45px 40px;
            background-color: $color_white;
            border-radius: 40px;
            box-shadow: $boxshadow1;
            @include main-parag;
            display: flex;
            flex-direction: column;
            gap: 22px;
            li {
                position: relative;
                padding-left: 14px;
                &::before {
                    content: "•";
                    position: absolute;
                    left: 0;
                    top: 13%;
                    font-size: 12px;
                    line-height: 1em;
                }
            }
            &-title {
                color: $color_blue1;
                font-size: 20px;
                font-weight: 700;
                line-height: 24px;
                letter-spacing: 0%;
                text-transform: uppercase;
            }
        }
    }
    @media screen and (max-width: 800px) {
        padding: 70px 20px;
        &-title {
            text-align: start;
            padding-bottom: 30px;
        }
        &-list {
            grid-template-columns: 1fr;
            &-item {
                padding: 40px 20px;
            }
        }
    }
}

.pr-beg-who {
    padding: 109px 40px 82px 40px;
    &-head {
        display: flex;
        gap: 173px;
        align-items: flex-end;
        padding-bottom: 80px;
    }
    &-title {
        @include main-title;
    }
    &-text {
        @include main-parag;
    }
    &-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
        &-item {
            border-radius: 30px;
            box-shadow: $boxshadow1;
            background: $color_white;
            padding: 45px 40px;
            height: 240px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            font-size: 20px;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0%;
            &-num {
                color: $color_blue1;
            }
        }
    }
    @media screen and (max-width: 1000px) {
        padding: 50px 20px;
        &-head {
            flex-direction: column;
            gap: 20px;
            padding-bottom: 39px;
        }
        &-title {
            br:last-child {
                display: none;
            }
        }

        &-list {
            grid-template-columns: 1fr;
            &-item {
                padding: 30px 15px;
                font-size: 16px;
                font-weight: 700;
                line-height: 20px;
                letter-spacing: 0%;
                height: auto;
                gap: 24px;
            }
        }
    }
}

.pr-beg-plan {
    padding: 80px 40px 49px 40px;
    &-title {
        @include main-title;
        text-align: center;
        padding-bottom: 20px;
    }
    &-text {
        @include main-parag;
        text-align: center;
        padding-bottom: 78px;
    }
    &-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        &-item {
            height: fit-content;
            padding: 50px 40px;
            border-radius: 40px;
            box-shadow: $boxshadow1;
            background: $color_white;
            &-1 {
                position: relative;
                background: $color_blue1;
                color: $color_white;
            }
            &-2 {
                margin-top: 30px;
                color: $color_white;
                p {
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 24px;
                    letter-spacing: 0%;
                    text-align: center;
                    text-transform: uppercase;
                    padding-bottom: 20px;
                }
                h5 {
                    font-size: 42px;
                    font-weight: 400;
                    line-height: 51px;
                    letter-spacing: 0%;
                    text-align: center;
                }
            }
        }
        &-sale {
            padding: 10px 88px 10px 88px;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 2px solid $color_blue1;
            border-radius: 51.58px;
            background: $color_blue;
            color: $color_blue1;
            font-size: 16px;
            font-weight: 700;
            line-height: 150%;
            letter-spacing: 0%;
            text-align: center;
            text-transform: uppercase;
        }
        &-undertitle {
            font-size: 20px;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0%;
            text-transform: uppercase;
            padding-bottom: 20px;
            text-align: center;
            &-1 {
                color: $color_blue1;
            }
        }
        &-title {
            font-size: 42px;
            font-weight: 400;
            line-height: 51px;
            letter-spacing: 0%;
            padding-bottom: 28px;
            text-align: center;
            border-bottom: 1px solid $color_white;
            &-1 {
                border-bottom: 1px solid $color_blue1;
            }
        }
        &-star {
            display: flex;
            gap: 10px;
            width: fit-content;
            margin: 0 auto;
            padding-bottom: 26px;
            &-1 {
                svg {
                    path {
                        fill: $color_blue1;
                    }
                }
            }
        }

        ul {
            margin-top: 35px;
            margin-bottom: 40px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            li {
                display: flex;
                gap: 20px;
                align-items: center;
            }
        }
        &-but {
            border-radius: 51.58px;
            height: 50px;
            font-size: 20px;
            font-weight: 700;
            line-height: 150%;
            letter-spacing: 0%;
            text-align: center;
            text-transform: uppercase;
            background-color: $color_blue1;
            color: $color_white;
            width: 100%;
            &-1 {
                background-color: $color_white;
                color: $color_blue1;
            }
        }
    }
    @media screen and (max-width: 1000px) {
        gap: 15px;
        padding: 40px 20px 80px 20px;
        &-title {
            text-align: start;
        }
        &-text {
            text-align: start;
        }
        &-list {
            grid-template-columns: 1fr;
            position: relative;
            padding-bottom: 250px;
            &-item {
                li {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 17px;
                    letter-spacing: 0%;
                }
                &-1 {
                    margin-top: 30px;
                }
            }
            &-item-last {
                position: absolute;
                bottom: 0;
                width: calc(100%);
            }
        }
    }
}

.price {
    padding: 136px 40px 46px 40px;
    &-title {
        margin-bottom: 64px;
        @include main-title;
    }
    &-list {
        display: flex;
        gap: 30px;
        flex-direction: column;
        margin-top: 30px;
        &-item {
            padding: 54px 86px 80px 86px;
            border-radius: 40px;
            box-shadow: $boxshadow1;
            background: $color_white;

            &-1 {
                padding: 75px 86px;
                display: flex;
                justify-content: space-between;
                
            }
            h6 {
                text-transform: uppercase;
                font-size: 18px;
                font-weight: 700;
                line-height: 22px;
                letter-spacing: 0%;
                color: $color_blue1;
                padding-bottom: 40px;
            }
            ul {
                display: flex;
                flex-direction: column;
                gap: 10px;
                font-size: 18px;
                font-weight: 400;
                line-height: 22px;
                li {
                    display: flex;
                    justify-content: space-between;
                    gap: 10px;
                    padding-bottom: 10px;
                    border-bottom: 1px solid rgb(229, 229, 229);
                    p {
                        width: 100%;
                        max-width: 577px;
                    }
                    span {
                       text-wrap: nowrap;
                    }
                    &:last-child{
                        border-bottom: 0;
                    }
                   
                }
                
            }
            &:nth-child(3){
                li{
                      border-bottom: 0 !important;
                }
              
            }
        }
    }
    &-foot {
        display: flex;
        gap: 116px;
        margin-top: 30px;
        &-box {
            border-radius: 40px;
            box-shadow: $boxshadow1;
            background: $color_blue1;
            padding: 50px 40px;
            max-width: 433px;
            width: 100%;
            font-size: 18px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: 0%;
            color: $color_white;
        }
        button {
            margin-top: 40px;
        }
    }
    @media screen and (max-width: 700px) {
        padding: 0 20px 35px 20px;
        &-title {
            margin-bottom: 40px;
        }
        &-list {
            &-item {
                padding: 40px 20px;
                &-1 {
                    flex-direction: column;
                    h6 {
                        padding-bottom: 30px;
                    }
                }
            }
        }
        &-foot {
            flex-direction: column;
            gap: 20px;
            &-box {
                padding: 40px 20px;
                width: 100%;
                max-width: 700px;
            }
        }
    }
}

.comments {
    padding: 31px 40px 163px 40px;
    &-head {
        display: flex;
        justify-content: space-between;
    }
    &-title {
        @include main-title;
    }
    &-revievs {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 17px;
        &-text {
            @include main-parag;
        }
    }
    &-stars {
        display: flex;
        gap: 10px;
        svg {
            margin-right: 10px;
            path {
                fill: $color_blue1;
            }
        }
        p {
            font-size: 20px;
            font-weight: 700;
            line-height: 150%;
            letter-spacing: 0%;
            text-align: left;
            text-transform: uppercase;
            color: $color_blue1;
        }
    }
    &-list {
        margin-top: 80px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        &-item {
            border-radius: 30px;
            box-shadow: $boxshadow1;
            background: $color_white;
            padding: 50px 40px;
            .comments-stars {
                gap: 0px;
            }
            &-head {
                display: flex;
                gap: 23px;
                align-items: center;
                font-size: 16px;
                b {
                    font-weight: 700;
                    line-height: 20px;
                    letter-spacing: 0%;
                }
                span {
                    color: $color_grey;
                }
                margin-bottom: 40px;
            }
            &-text {
                @include main-parag;
            }
        }
        &-all {
            display: flex;
            justify-content: flex-end;
            .ui-button-icon {
                width: 50px;
                height: 50px;
            }
            .ui-button-circle {
                width: 50px;
                height: 50px;
            }
        }
    }
    &-form {
        margin-top: 80px;
        &-title {
            @include main-title;
            padding-bottom: 20px;
        }
        &-text {
            @include main-parag;
            padding-bottom: 45px;
        }
        &-inputs {
            display: grid;
            grid-template-columns: 393px 393px;
            column-gap: 30px;
            margin-bottom: 45px;
        }
        &-req {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &-stars {
            display: flex;
            gap: 10px;
            @include main-parag;
            svg {
                path {
                    stroke: $color_blue1;
                }
            }
            &-raiting {
                display: flex;
                gap: 10px;
            }
            &-active {
                svg {
                    path {
                        fill: $color_blue1;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 700px) {
        padding: 38px 20px 80px 20px;
        &-head {
            flex-direction: column-reverse;
            gap: 17px;
        }
        &-list {
            margin: 40px 0;
        }
        &-list-item {
            padding: 40px 20px;
        }
        &-form {
            &-text {
                padding-bottom: 40px;
            }
            &-inputs {
                grid-template-columns: 1fr;
                margin-bottom: 10px;
            }
            &-req {
                gap: 40px;
                flex-direction: column;
            }
            &-stars {
                text-align: center;
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
            .comments-list-all {
                width: 300px;
            }
        }
    }
}

.contacts {
    background-color: $color_blue1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 20px;
    color: $color_white;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    &-title {
        padding-top: 80px;
    }
    &-phone {
        padding: 30px 0;
    }
    &-net {
        display: flex;
        align-items: center;
        gap: 22px;
    }
    &-button {
        padding: 80px 0 100px 0;
        .ui-button {
            &-text {
                color: $color_white !important;
                z-index: 2;
            }

            &-circle {
                background: $color_white !important;
            }

            &:hover {
                .ui-button-text {
                    color: $color_blue1 !important;
                }
            }
        }
    }
    &-madeby {
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 0%;
        padding-bottom: 10px;
        span {
            text-decoration: underline;
        }
    }
    @media screen and (max-width: 500px) {
        &-title {
            padding-top: 40px;
        }
        &-button {
            padding-top: 40px;
            padding-bottom: 30px;
            .ui-button {
                width: 300px;
                background: $color_white !important;
                &-text {
                    color: $color_blue1 !important;
                    z-index: 2;
                }
            }
        }
    }
}
.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background: $color_blue;
    opacity: 0.9;
}

.button-to-top{
    position: fixed;
    right: 50px;
    bottom: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding-bottom: 5px;
    z-index: 115;
    background: $color_blue2;
    -webkit-transition: transform 0.2s ease-in-out;
    -moz-transition: transform 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    &:hover{
        transform: translateY(-5px);
    }
    @media screen and (max-width: 800px) {
        right: 30px;
        bottom: 30px;
        width: 40px;
        height: 40px; 
    }
}

@media screen and (max-width: 800px) {
    .divider {
       height: 45px;
    }
}
